.profile {
  width: 250px;
  margin: 20px auto;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: #fff;
}
.avatar {
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
}
.name {
  font-weight: bold;
  font-size: 20px;
}
.tag, .location {
  color: gray;
}
.stats {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 0;
  list-style: none;
  margin: 0;
}
.stats li {
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  width: 100%;
  padding: 10px;
}
.stats li:last-child {
  border-right: none;
}
.label {
  display: block;
}
.quantity {
  font-weight: bold;
}
